{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block body %}
<div class="container">
{# .first and .second may vary in your use - see the note below #}
{{form(form)}}
</div>
</div>
{% endblock %}
